# HOST Y POST DEL BACKEND
NEXT_PUBLIC_BACKEND_HOST=192.168.2.xxx
NEXT_PUBLIC_BACKEND_PORT=3000

# HOST Y PUERTO DE FRONTEND ACTUAL
NEXT_PUBLIC_BENEFICIARY_FRONTEND_HOST=192.168.2.xxx
NEXT_PUBLIC_BENEFICIARY_FRONTEND_PORT=3002
NEXT_PUBLIC_BENEFICIARY_CLIENT_ID=beneficiary-interface

# HOST Y PUERTO DEL FRONTEND HUB
NEXT_PUBLIC_HUB_FRONTEND_HOST=192.168.2.xxx
NEXT_PUBLIC_HUB_FRONTEND_PORT=3001
NEXT_PUBLIC_HUB_CLIENT_ID=hub-interface

# Conexión al servicio del biométrico
NEXT_PUBLIC_BIOMETRICO_HOST=192.168.2.xxx
NEXT_PUBLIC_BIOMETRICO_PORT=8899

# DEPLOY ENV prod | dev | test
NEXT_PUBLIC_DEPLOY_ENV=prod
