# Dirección del gateway
NEXT_PUBLIC_BACKEND_HOST=localhost
NEXT_PUBLIC_BACKEND_PORT=3000

# Host de todos los frontends
NEXT_PUBLIC_SERVER_FRONTEND=localhost

# Puerto del beneficiaries frontend
NEXT_PUBLIC_SERVER_PORT_FRONTEND=3001
# Lista de puertos de los demas frontends
LOGIN_FRONTEND_PORT=3002

# Conexión al servicio del biométrico
NEXT_PUBLIC_BIOMETRICO_HOST=192.168.xxx.xxx
NEXT_PUBLIC_BIOMETRICO_PORT=8899

# permitir acceso al frontend login-hub
ACCESS_CONTROL_ALLOW_ORIGIN="http://192.168.xxx.xxx:xxxx"